html {
	background-color: #295a5b;
}
body {
	margin: 0 0 0 0;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	background-color: #3b8183;
}


/*Header*/
header a{

	text-decoration: none;
}

header h1:hover {
	width: 4.1em;
	color: #295a5b;
	background-color: #ffffff;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 6px 14px 0 #5e1318;

}

header h1{
	width: 4.1em;
	max-width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	color: #ffffff;
	font-size: 80px;
}
header div{
	margin-left: 30px;
}

header p{
	height: 20px;
	width: 464px;
	max-width: 100%;
	margin: 0px;
	margin-left: 30px;
	padding-bottom: 40px;
	color: #ffffff;
	font-size: 40px;
}
header p:hover {
	height: 20px;
	width: 464px;
	color: #295a5b;
	background-color: #ffffff;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 6px 14px 0 #5e1318;

}
#headerContent {
	max-width: 100%;
	background-color: #ed303c;
}
/*end of Header*/


/*Navbar*/ 

nav {
	background-color: #ff9c5b;
}
nav a {
	background-color: #ff9c5b;
	text-decoration: none;
	font-size: 31px;
	color: #ffffff;
	padding-right: 100px;
}

nav #navLinks {
	padding-left: 30px;
}

nav a:hover{
	font-size: 31px;
	color: #ff9c5b;
	background-color: #ffffff;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 6px 14px 0 #142d2d;
	/*box-shadow: 0 6px 14px 0  #fff;*/
}
#navContent {
	background-color: #ff9c5b;
} 
/*end of Navbar*/


/*Main content*/
#mainContent {
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #3b8183;
}

#books, #movies, #games, #about {
	margin: 0px;
	padding: 30px;
}
/*Books*/
#books, #about {
	background-color: #4e8d8f;
}
/*end of Books*/

/*Movies*/
#movies {
	background-color: #629a9b;
}
/*end of Movies*/

/*Games*/
#games {
	background-color: #75a6a8;
}
/*end of Games*/

/*end of Main content*/


/*Footer*/

#footerContent{
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #2b696b;
}

#footerText{
	padding-left: 30px;
}
/*end of Footer*/

header, nav, main, footer{
	width: 100%;
	margin: auto;
	background-color: #295a5b;
}
#headerContent, #navContent, #mainContent, #footerContent{
	width: 90%;
	margin: auto;
}

/*Button that takes you to the top*/
#backTopButton {
	display: none;
	width: 50px;
	height: 50px;
	background-color: #ff9c5b; 
	border: none;
	outline: none;
	border-radius: 50%;
	box-shadow: 0 6px 10px #142d2d;
	z-index: 99;
	cursor: pointer;

	font-size: 38px;
	color: #ffffff;
	text-align: center;
	line-height: 45px;

	margin-right: 10px;
	float: right;
	position: fixed;
	right: 50px;
	bottom: 50px;
}
#backTopButton:hover {
	right: 45px;
	bottom: 45px;
	width: 55px;
	height: 55px;
	transition: all 0.2s ease-in-out;
	color: #ed303c;
	box-shadow: 0 6px 14px 0 #142d2d;
	transform: scale(1.05);
}
#backTopButton a {
	text-decoration: none;
	text-align: center;
}
/* end of Button that takes you to the top*/

#copyRights {
	color: #ffffff;
}

footer hr {
/*width: 100%;*/
display: block;
height: 1px;
border: 0;
border-top: 7px solid #295a5b;
margin: auto;
padding: 0;
margin-left: -30px;
}

.dividerLine, .contentDividerLine {
height: 1px;
width: 90%;
border: 0;
border-top: 5px solid #295a5b;
margin: auto;
padding: 0;
}

.contentDividerLine {
	width: 100%;
}


/*
Color Palette:

color 1, light orange: #fad089
nav bg color 2, darker orange: #ff9c5b
header background color, red: #ed303c
background color, blue: #3b8183
footer color 5, darker blue: #2b696b
*/